body {
  margin: 0;
  box-sizing: border-box;
  font-size: 4rem;
  font-family: sans-serif;
  background-color: #1d1818;
}

.grid-container {
  background-color: #404040;
  border-radius: 10px;
  border: solid 2px #000000;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #00aeff;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.03);
}


/* CSS GRID - Guía completa */

.grid-container {
  min-height: 600px;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 150px 200px;

  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}